* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: "Kumbh Sans", sans-serif;
    background-color: hsl(185, 75%, 39%);
    background-image:
        url("images/bg-pattern-top.svg"),
        url("images/bg-pattern-bottom.svg");
    background-repeat: no-repeat;
    background-position:
        right 50vw bottom 50vh,
        left 50vw top 50vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.profile-card {
    width: 350px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}


.card-header {
    height: 140px;
    background-image: url("images/bg-pattern-card.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-info {
    position: relative;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 24px;
}

.profile-image {
    position: absolute;
    width: 96px;
    height: 96px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid white;
    top: -48px;
    left: 50%;
    transform: translateX(-50%);
}


.profile-info h1 {
    font-size: 18px;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}


.profile-info h1 span {
    margin-left: 6px;
    font-size: 18px;
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}


.location {
    margin-top: 8px;
    font-size: 14px;
    color: hsl(227, 10%, 46%);
}



.account {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid hsl(0, 0%, 90%);
    padding: 24px 20px;
}


.detail {
    text-align: center;
}


.detail h2 {
    font-size: 18px;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}


.detail p {
    margin-top: 5px;
    font-size: 10px;
    letter-spacing: 1.5px;
    color: hsl(227, 10%, 46%);
}



.attribution {
    padding: 10px;
    font-size: 11px;
    text-align: center;
    color: white;
}


.attribution a {
    color: hsl(228, 45%, 44%);
}



@media (max-width: 500px) {

    body {
        background-position:
            right 50vw bottom 50vh,
            left 50vw top 50vh;
    }

    .container {
        padding: 24px;
    }

    .profile-card {
        width: 100%;
        max-width: 326px;
    }

}