* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(47, 88%, 63%);
    font-family: 'Figtree', sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.hero-section {
    width: 100%;
    max-width: 21.875rem; 

    background-color: hsl(0, 0%, 100%);
    border-radius: 1.25rem;

    padding: 1.25rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    border: 0.0625rem solid hsl(0, 0%, 7%);
    box-shadow: 0.5rem 0.5rem hsl(0, 0%, 7%);
}

.hero-image {
    width: 100%;
    border-radius: 0.75rem;
}

.badge {
    display: inline-block;
    align-self: flex-start;

    background-color: hsl(47, 88%, 63%);

    padding: 0.4rem 0.8rem;

    border-radius: 0.25rem;

    font-size: 0.875rem;
    font-weight: 800;
}

.hero-section h1 {
    font-size: 1.5rem;
    font-weight: 800;
}

.description {
    color: hsl(0, 0%, 42%);
    font-size: 0.875rem;
    line-height: 1.5;
}

.profile {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.profile img {
    width: 2.5rem;
}

.profile h2 {
    font-size: 1rem;
    font-weight: 800;
}

.attribution {
    text-align: center;
    font-size: 0.6875rem;
}


@media (min-width: 768px) {

    .container {
        padding: 2rem;
    }

    .hero-section {
        max-width: 24rem; 
        padding: 1.5rem;
    }

}