* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: hsl(225, 100%, 94%);
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    font-family: "Red Hat Display", sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
}

.hero-section {
    width: 100%;
    max-width: 450px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
}

.first-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
    margin-bottom: 18px;
}

.hero-section h1 {
    color: hsl(223, 47%, 23%);
    font-size: 28px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 2px;
}


.hero-section > p {
    max-width: 350px;
    color: hsl(224, 23%, 55%);
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 18px;
}

.plan {
    width: 354px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 12px;
    padding: 18px 20px;
    display: flex;
    align-items: center;
}

.plan > img {
    width: 48px;
    height: 48px;
    margin-right: 18px;
}

.detail {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.detail h2 {
    color: hsl(223, 47%, 23%);
    font-size: 16px;
    font-weight: 900;
}

.detail p {
    color: hsl(224, 23%, 55%);
    font-size: 16px;
}

.link {
    margin-left: auto;
}

.link a {
    color: hsl(245, 75%, 52%);
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
}

.link a:hover {
    color: hsl(245, 83%, 68%);
    text-decoration: none;
}

.btn {
    width: 354px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 14px;
}

.primary {
    width: 100%;
    height: 50px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    border: none;
    border-radius: 10px;
    font-family: inherit;
    font-size: 15px;
    font-weight: 900;
    cursor: pointer;
    box-shadow: 0 15px 20px hsla(245, 75%, 52%, 0.25);
}

.primary:hover {
    background-color: hsl(245, 83%, 68%);
}

.secondary {
    width: 100%;
    height: 35px;
    background-color: transparent;
    color: hsl(224, 23%, 55%);
    border: none;
    font-family: inherit;
    font-size: 15px;
    font-weight: 900;
    cursor: pointer;
}

.secondary:hover {
    color: hsl(223, 47%, 23%);
}
.attribution {
    font-size: 11px;
    text-align: center;

    margin-top: -25px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media (max-width: 600px) {

    body {
        background-image: url("images/pattern-background-mobile.svg");
        background-size: 100% auto;
        background-position: top center;
    }

    .container {
        padding: 72px 24px 40px;
    }

    .hero-section {
        max-width: 327px;
        border-radius: 20px;
        padding-bottom: 28px;
    }

    .first-image {
        margin-bottom: 30px;
    }

    .hero-section h1 {
        font-size: 22px;
        margin-bottom: 4px;
    }

    .hero-section > p {
        max-width: 280px;
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 18px;
    }

    .plan {
        width: calc(100% - 48px);
        padding: 16px;
    }

    .plan > img {
        width: 48px;
        height: 48px;
        margin-right: 16px;
    }

    .detail h2 {
        font-size: 14px;
    }

    .detail p {
        font-size: 14px;
    }

    .link a {
        font-size: 13px;
    }

    .btn {
        width: calc(100% - 48px);
        gap: 14px;
        margin-top: 12px;
    }

    .primary {
        height: 50px;
    }

    .secondary {
        height: 35px;
    }

    .attribution {
        display: none;
    }
}