* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: hsl(0, 0%, 98%);
    color: hsl(234, 12%, 34%);
}

.container {
    width: 100%;
    min-height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 20px 30px;
}


.header {
    max-width: 520px;
    text-align: center;
    margin-bottom: 55px;
}

.header h1 {
    color: hsl(212, 6%, 44%);
    font-size: 26px;
    font-weight: 200;
    line-height: 1.3;
}

.header h2 {
    color: hsl(234, 12%, 34%);
    font-size: 26px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 15px;
}

.header p {
    color: hsl(212, 6%, 44%);
    font-size: 13px;
    line-height: 1.6;
}


.hero-content {
    width: 100%;
    max-width: 1110px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}



.hero-content article {
    position: relative;
    min-height: 250px;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(76, 78, 97, 0.12);
}

.hero-content h3 {
    color: hsl(234, 12%, 34%);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.hero-content p {
    color: hsl(212, 6%, 44%);
    font-size: 13px;
    line-height: 1.6;
    max-width: 280px;
}

.hero-content img {
    position: absolute;
    width: 64px;
    height: 64px;
    right: 30px;
    bottom: 30px;
}

.supervisor {
    grid-column: 1;
    grid-row: 1 / 3;
    align-self: center;
    border-top: 4px solid hsl(180, 62%, 55%);
}


.team {
    grid-column: 2;
    grid-row: 1;
    border-top: 4px solid hsl(0, 78%, 62%);
}

.karma {
    grid-column: 2;
    grid-row: 2;
    border-top: 4px solid hsl(34, 97%, 64%);
}

.calculator {
    grid-column: 3;
    grid-row: 1 / 3;
    align-self: center;
    border-top: 4px solid hsl(212, 86%, 64%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding: 10px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 768px) {

    .container {
        padding: 60px 25px 30px;
    }

    .header {
        max-width: 500px;
        margin-bottom: 45px;
    }

    .header h1 {
        font-size: 24px;
    }

    .header h2 {
        font-size: 24px;
    }

    .header p {
        font-size: 13px;
    }

    .hero-content {
        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 25px;
        max-width: 350px;
    }

    .hero-content article {
        min-height: 230px;
    }

    .supervisor,
    .team,
    .karma,
    .calculator {
        grid-column: auto;
        grid-row: auto;
        align-self: auto;
    }
}