*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(217, 54%, 11%);
  font-family: 'Outfit', sans-serif;
  font-size: 1rem; 
  color: hsl(215, 51%, 70%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-content {
  background-color: hsl(216, 50%, 16%);
  width: 100%;
  min-width: 17.5rem;  
  max-width: 20.4375rem; 
  border-radius: 0.9375rem; 
  padding: 1.5rem; 
  display: flex;
  flex-direction: column;
  gap: 1rem; 
  box-shadow: 0 1.5rem 3.125rem rgba(0, 0, 0, 0.25);
}

.main-img-container {
  width: 100%;
  border-radius: 0.5rem; 
  overflow: hidden;
  display: flex;
}

.main-img {
  width: 100%;
  height: auto;
  display: block;
}

.hero-content h1 {
  font-size: 1.375rem; 
  font-weight: 600;
  margin-top: 0.25rem;
}

.hero-content h1 a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  transition: color 0.2s ease;
}

.hero-content h1 a:hover {
  color: hsl(178, 100%, 50%);
}

.description {
  font-size: 1.125rem; 
  font-weight: 300;
  line-height: 1.6;
}

.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.25rem;
}

.detail-text {
  display: flex;
  align-items: center;
  gap: 0.4063rem; 
}

.detail-text.price {
  color: hsl(178, 100%, 50%);
}

.detail-text.time {
  color: hsl(215, 51%, 70%);
  font-weight: 400;
}


.line {
  border: none;
  border-top: 0.0625rem solid hsl(215, 32%, 27%); /* 1px */
  margin: 0.25rem 0;
}


.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: 2rem; 
  height: 2rem;
  border: 0.0625rem solid hsl(0, 0%, 100%);
  border-radius: 50%;
}

.profile p {
  font-size: 0.9375rem; 
}

.author-name {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  transition: color 0.2s ease;
}

.author-name:hover {
  color: hsl(178, 100%, 50%);
}


.attribution {
  font-size: 0.6875rem;
  text-align: center;
  margin-top: 2rem;
  color: hsl(215, 51%, 70%);
}

.attribution a {
  color: hsl(178, 100%, 50%);
}

@media screen and (min-width: 48rem) {
  .hero-content {
    max-width: 21.875rem; 
  }
}

@media screen and (min-width: 90rem) {
  body {
    padding: 2.5rem; 
  }
  
  .hero-content {
    max-width: 21.875rem; 
  }
}